@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;600&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --body-text: #4a525f;
  --grey-100: #c7c7c7;
  --primary: #554994;
  --primary-dark: #170d30;
  --primary-light: #ae9ffa;
  --primary-lighter: #e5dfff;
  --sidebar-width: 260px;
  --header-height: 5rem;
  --player-height: 5.5rem;
}

*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(128, 128, 128, 0.38);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.7);
}

::-webkit-search-cancel-button{
  cursor: pointer; 
  height: 16px;
  width: 16px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  -webkit-appearance: none;
}

/* Tailwind custom */

.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1; 
  -webkit-box-orient: vertical;
}

.two-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.ten-line {
  overflow: scroll;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  line-clamp: 10; 
  -webkit-box-orient: vertical;
}

.ten-line::-webkit-scrollbar {
  width: 3px;
}

.shadow {
  box-shadow: 0 4px 20px 0 rgb(44 101 144 / 10%);
}

@layer components {
  .slider-arrow {
    @apply absolute top-1/2 -translate-y-1/2 w-12 h-12 rounded-full bg-white bg-opacity-30 cursor-pointer justify-center items-center;
  }
  .button-hover {
    @apply p-2 hover:bg-gray-50 hover:bg-opacity-30 rounded-full;
  }
  .button-shadow {
    @apply p-2 bg-gray-50 bg-opacity-30 rounded-full;
  }
}
